@charset "UTF-8";

ul{
    list-style: none;
}

header{
    background-color: rgb(246, 84, 84);
    grid-area: header-A;
}

.gnav > ul > li {
    display: inline;

    margin: 0 8px 0 0;
    padding: 8px 4px;

    border: 1px solid #000;
    border-radius: 4px;

    background: linear-gradient(#FFF, #999);
}

#a{
    border: 2px dashed black;
}

#b{
    border: 2px dashed black;
}    
    
#red:hover{
    border: 2px solid red;
}

#d::first-letter{
    font-size: 2em;
}

#e::first-letter{
    font-size: 2em;
}

#f::first-letter{
    font-size: 2em;
}

h3{
    border: 2px dashed red;
}

tr:nth-child(odd){
    background-color: gold;
}

#d{
    color: green;
}

#e{
    color: green;
}

#f{
    color: green;
}